.project-container {
  row-gap: 2rem;
}

@media screen and (min-width: 875px) {

  .project-container {
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

}
