.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: calc(var(--header-height) + 1rem);
}

.home-left-content {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.home-right-content {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-intro-title {
  flex: 5;
  font-size: var(--large-font-size);
}

.home-intro-title-highlighted {
  color: var(--primary-color);
}

.home-intro-button-container {
  flex: 2;
}

.home-intro-socials {
  display: flex;
  flex-direction: row;
  padding-top: 8rem;
  align-items: center;
}

.home-social-icon {
  color: var(--secondary-color);
  font-size: 2rem;
  margin: auto 2rem auto 0;
}

.home-social-icon:hover {
  color: var(--primary-color);
}

.home-img-container {
  position: relative;
  overflow: hidden;
  height: 25rem;
  width: 25rem;
}

.home-img-container:hover .home-img-content-orange {
  clip-path: inset(0 0 0 0);
}

.home-img-content {
  border-radius: 100rem;
  cursor: pointer;
  position: absolute;
  transition: clip-path 0.25s cubic-bezier(0, 0.1, 1, 1);
}

.home-img-content-green {
  z-index: 1;
}

.home-img-content-orange {
  z-index: 2;
  clip-path: inset(100% 0 0 0);
}

.cv-button {
  padding: 0.75rem 1.75rem;
}

.cv-button-text {
  position: relative;
  text-decoration: none;
}

.cv-button-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.2s ease-in-out;
}

.cv-button-text:hover::after {
  width: 100%;
}

@media screen and (min-width: 875px) {

  .home {
    height: 80vh;
  }
}

@media screen and (max-width: 875px) {

  .home {
    flex-direction: column;
    top: 0;
    padding: 1rem 0;
  }

  .home-intro-buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .home-intro-socials {
    padding-top: 0;
  }

  .home-img-container {
    height: 15rem;
    width: 15rem;
  }
}
