@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");

/*TODO: update all of this to use scss (maybe merge this branch and start a new one)*/
:root {
  --body-font: "Rozha One";
  --header-height: 3rem;
  --font-semi: 600;

  /* colors */
  --primary-color: #fe5e41;
  --secondary-color: #ffffff;
  --bg-color: #303036;
  --header-footer-color: #00a878;
  --form-bg-color: #fffaff;

  /* font sizing */
  --h2-font-size: 1.25rem;
  --large-font-size: 2rem;
  --normal-font-size: 1rem;
}

@media screen and (min-width: 875px) {
  :root {
    --h2-font-size: 2rem;
    --large-font-size: 3.5rem;
    --normal-font-size: 1.25rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* smooth scroll transition when nav links clicked */
}

body {
  background-color: var(--header-footer-color);
  color: var(--secondary-color);
  font-family: var(--body-font), serif;
  font-size: var(--normal-font-size);
  margin: var(--header-height) 0 0 0;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

header {
  background-color: var(--header-footer-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; /* appear on top */
}

main {
  background-color: var(--bg-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: relative;
  text-align: center;
}

.section-title::after {
  background-color: var(--primary-color);
  content: "";
  height: 0.18rem;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 2rem;
  width: 64px;
}

.body {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 1024px;
  width: calc(100% - 2rem);
}

/* show menu */
.show {
  right: 0 !important;
}

/* buttons */
.button {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--secondary-color);
  display: inline-block;
  font-weight: var(--font-semi);
  padding: 0.75rem 2.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* media queries */
@media screen and (min-width: 875px) {
  body {
    margin: 0;
  }

  .section {
    padding-bottom: 3rem;
    padding-top: 4rem;
  }

  .section-title {
    margin-bottom: 3rem;
  }

  .section-title::after {
    top: 3rem;
    width: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .body {
    margin-left: auto;
    margin-right: auto;
  }
}
